.hobbie-item{
    text-transform: uppercase;
    background-color: white;
    text-align: center;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);

    img{
        width: 274px;
    }
}